.btn-close {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: $btn-close-width;
  height: $btn-close-height;
  padding: $btn-close-padding-y $btn-close-padding-x;
  color: $btn-close-color;
  background: transparent escape-svg($btn-close-bg) center / $btn-close-width
    auto no-repeat; // include transparent for button elements
  cursor: pointer;

  // Override <a>'s hover style
  &:hover {
    color: $btn-close-color;
    text-decoration: none;
    opacity: $btn-close-hover-opacity;
  }

  &:focus {
    outline: 0;
    opacity: $btn-close-focus-opacity;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: $btn-close-disabled-opacity;
  }
  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    width: 12%;
    height: 80%;
    background-color: #aaa;
    border-radius: 4em;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.btn-close-white {
  filter: $btn-close-white-filter;
}
