#root .dumi-default-doc-layout .dumi-default-features-item {
  text-align: center;
}
#root .dumi-default-doc-layout > main {
  max-width: none;
}

#root .dumi-default-sidebar {
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}
#root .dumi-default-logo {
  font-size: 18px;
}

#root .dumi-default-logo img {
  width: 30px;
  height: auto;
}

#root .dumi-default-navbar>li {
  font-size: 14px;
  white-space: nowrap;
}

#root .dumi-default-search-bar-input {
  width: 200px;
  height: 32px;
  font-size: 12px;
}

#root .dumi-default-hero-title>span {
  font-size: 96px;
}
